<% include partials/header %>
<main role="main">

    <section class="jumbotron text-center jumbocss jumboheight">
      <div class="container">
        <div class="row">
            <div class="col-sm" id="rcorners">
        <h1>Time Management Application</h1>
        <hr>
        <p class="lead text-muted">Here you can see time entries grouped by day, and you can create a time entry, or delete all time entries.</p>
        <p>
          <div class="bothbuttons">
            <a href="/home/new" class="btn btn-secondary my-2 fwaaccentcolor">Create Entry</a>
            <form class="delete-form" action="/home?_method=DELETE" method="POST" onclick="return confirm('This will delete all Time Entries.');" > 
              <button class="btn btn-secondary my-2 fwaaccentcolor2">Delete All</button>
            </form>
          </div>
          
        </p>
    </div>
    <div class="col-sm" id="rcorners2">
        <h1>Personal Earnings Tracker</h1>
        <%
        var totalHours = 0;
        for(var i = 0; i < timeentries.length; i++) { 
          totalHours += timeentries[i].totaltime
        }

        var totalPay = totalHours * 34;
        %>
        <hr>
        <span id="leftalign">
        <p>Hours Worked Today: <%= totalHours %></p>
        <p>Total Earned Today: $<%= totalPay.toFixed(2) %></p>
    </span>
    </div>

      </div>

    </div>
    </section>
    <p>
        <div class="page-header mainHeading bothbuttons3">
            <p><a href="/home"><i class="fa fa-angle-left" aria-hidden="true"></i></a> Individual Time Entries</p>

        </div>
    </p>

  
    <div class="album py-5  bcolor" >
      <div class="container">
  
        <div class="row">
            <% timeentries.forEach(function(timeentry){%> 
                <%var timeLink = timeentry.date.replace(/-/g, '_')%>
          <div class="col-md-4">
            <div class="card shadow-sm fwabordercolor cardcss">
              <div class="card-body">
                  <p class="card-text">Date: <%= timeentry.date %></p>
                  <p class="card-text">Customer: <%= timeentry.cust %></p>
                  <p class="card-text">Time: <%= timeentry.starttime %> to <%= timeentry.endtime %></p>
                  <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/home/<%=timeLink %>/<%= timeentry._id %>" class="btn btn-sm btn-outline-secondary">View</a>
                    <a class="btn btn-sm btn-outline-danger" onclick="alert('Feature Coming Soon')">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  
  </main>
<% include partials/footer %>