<% include partials/header %>
<!-- <div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to the Time Entry Utility</h1>
            <p>Here is where you can view and enter your time entries.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/home/new">Add New Time Entry</a>
                <form class="delete-form" action="/home?_method=DELETE" method="POST" onclick="return confirm('This will delete all Time Entries.');" > 
                    <button class="btn btn-xs btn-danger">Delete All Time Entries</button>
                </form>
            </p>
        </div>
    </header>
    
    
    <div class="row">
        <div class="col-lg-12">
            <%
            var totalHours = 0;
            for(var i = 0; i < timeentries.length; i++) { 
              totalHours += timeentries[i].totaltime
            }

            var totalPay = totalHours * 34;
            %>
            <h3>Total Hours Worked: <%= totalHours %></h3>
            <h3>Total Earned in Work Period: $<%= totalPay.toFixed(2) %></h3>
            <h3>Below are the time entries grouped by day:</h3>
        </div>
    </div>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
       <% var timeDates = [];

        for(var i = 0; i < timeentries.length; i++) { 
            if(timeDates.includes(timeentries[i].date)){

            }else {
                timeDates[i] = timeentries[i].date;
            }
        } %>
        <% timeDates.forEach(function(timeDate){ 
            var dayHours = 0;
            for(var i = 0; i < timeentries.length; i++){
                if(timeDate == timeentries[i].date) {
                    dayHours += timeentries[i].totaltime
                }
            }
            var dayMoney = dayHours * 34;
            var timeLink = timeDate.replace(/-/g, '_')%>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <div>
                        <h4>$<%= dayMoney.toFixed(2) %></h4>
                    </div>
                    <div class="caption">
                        <h4><%= timeDate %></h4>
                    </div>
                    <p>
                        <a href="/home/<%= timeLink %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }) %>


    </div>
</div> -->



<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <div class="row">
            <div class="col-sm" id="rcorners">
        <h1>Time Management Application</h1>
        <hr>
        <p class="lead text-muted">Here you can see time entries grouped by day, and you can create a time entry, or delete all time entries.</p>
        <p>
          <div class="bothbuttons">
            <a href="/home/new" class="btn btn-secondary my-2 fwaaccentcolor">Create Entry</a>
            <form class="delete-form" action="/home?_method=DELETE" method="POST" onclick="return confirm('This will delete all Time Entries.');" > 
              <button class="btn btn-secondary my-2 fwaaccentcolor2">Delete All</button>
            </form>
          </div>
          
        </p>
    </div>
    <div class="col-sm" id="rcorners2">
        <h1>Personal Earnings Tracker</h1>
        <%
        var totalHours = 0;
        for(var i = 0; i < timeentries.length; i++) { 
          totalHours += timeentries[i].totaltime
        }

        var totalPay = totalHours * 34;
        %>
        <hr>
        <span id="leftalign">
        <p>Hours Worked: <%= totalHours %></p>
        <p>Total Earned: $<%= totalPay.toFixed(2) %></p>
    </span>
    </div>

      </div>

    </div>
    </section>
  
    <div class="album py-5  bcolor" >
      <div class="container">
  
        <div class="row">
            <% var timeDates = [];

        for(var i = 0; i < timeentries.length; i++) { 
            if(timeDates.includes(timeentries[i].date)){

            }else {
                timeDates[i] = timeentries[i].date;
            }
        } %>
        <% timeDates.forEach(function(timeDate){ 
            var dayHours = 0;
            for(var i = 0; i < timeentries.length; i++){
                if(timeDate == timeentries[i].date) {
                    dayHours += timeentries[i].totaltime
                }
            }
            var dayMoney = dayHours * 34;
            var timeLink = timeDate.replace(/-/g, '_')%>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm fwabordercolor">
              <div class="card-body">
                <p class="card-text">Date: <%= timeDate %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/home/<%= timeLink %>" class="btn btn-sm btn-outline-secondary">View</a>
                    <a class="btn btn-sm btn-outline-danger" onclick="alert('Feature Coming Soon')">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  
  </main>
<% include partials/footer %>