<% include partials/header %>
<main role="main">

 
    <section class="jumbotron text-center jumboheight">
      <% if(joining.length > 0) { %>
        <div id="alerting" class="alert alert-info alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong><%= joining %></strong> 
        </div>
        <% } %>
        <% if(error.length > 0) { %>
          <div id="alerting" class="alert alert-danger" role="alert">
            <strong><%= error %></strong> 
          </div>
          <% } %>
          <% if(regularMessage.length > 0) { %>
            <div id="alerting" class="alert alert-success alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong><%= regularMessage %></strong> 
            </div>
            <% } %>
      <div class="container">
        <div class="row">
            <div class="col-sm" id="rcorners">
        <h1>Time Management Application</h1>
        <hr>
        <p class="lead text-muted">Here you can see time entries grouped by day, and you can create a time entry, or delete all time entries.</p>
        <p>
          <div class="bothbuttons">
            <a href="/home/new" class="btn btn-secondary my-2 fwaaccentcolor">Create Entry</a>
            <form class="delete-form" action="/home?_method=DELETE" method="POST" onclick="return confirm('WARNING: This is destructive. This will delete all Time Entries, including Archived Entries.');" > 
              <button class="btn btn-secondary my-2 fwaaccentcolor2">Delete All</button>
            </form>
            <a href="/home/printall" class="btn btn-secondary my-2 fwaaccentcolor">Print All</a>
          </div>
          
        </p>
    </div>

      </div>

    </div>
    </section>
    <div class="page-header mainHeading">
      <p>Dates</p>
    </div>
    <div class="album py-5  bcolor" >
      <div class="container">
  
        <div class="row">
            <% var timeDates = [];

        for(var i = 0; i < timeentries.length; i++) { 
            if(timeDates.includes(timeentries[i].date)){

            }else {
                timeDates[i] = timeentries[i].date;
            }
        } %>
        <% timeDates.forEach(function(timeDate){ 
            var dayHours = 0;
            for(var i = 0; i < timeentries.length; i++){
                if(timeDate == timeentries[i].date) {
                    dayHours += timeentries[i].totaltime
                }
            }
            var dayMoney = dayHours * 34;
            var timeLink = timeDate.replace(/-/g, '_')%>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm fwabordercolor">
              <div class="card-body">
                <p class="card-text">Date: <%= timeDate %></p>
                  <div class="btn-group">
                    <a href="/home/dates/<%= timeLink %>" class="btn btn-sm btn-outline-primary btn-spacing ">View</a>
                    <form action="/home/archivedate/<%= timeLink %>?_method=PUT" method="POST" onclick="return confirm('Are you sure you want to archive all time entries for this date?');">
                      <button class="btn btn-sm btn-outline-secondary btn-spacing ">Archive</button>
                    </form>
                    <a class="btn btn-sm btn-outline-danger btn-spacing" onclick="alert('Feature Coming Soon')">Delete</a>
                    <a href="/home/dates/<%= timeLink%>/print" class="btn btn-sm btn-outline-info">Printing</a>
                  </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  
  </main>
<% include partials/footer %>