<% include partials/header %>
<div class="container">
  <div class="row">
    <div>
      <a class="btn btn-m" href="/home/">Go Back</a>
    </div>

    <div class="row text-left" style="display:flex; flex-wrap: wrap;">
      <% timeentries.forEach(function(timeentry){%> <%var timeLink =
      timeentry.date.replace(/-/g, '_')%>
      <div class="col-md-3 col-sm-6">
        <div class="caption">
          <h4>***********************************</h4>
          <h4>Date: <span style="color: red"><%= timeentry.date %></span></h4>
          <h4>
            Account Name: <span style="color: red"><%= timeentry.cust %></span>
          </h4>
          <h4>
            FTCN Code: <span style="color: red"><%= timeentry.ftcn %></span>
          </h4>
          <h4>
            Bill Code: <span style="color: red"><%= timeentry.billcode %></span>
          </h4>
          <h4>
            Job Number: <span style="color: red"><%= timeentry.job %></span>
          </h4>
          <h4>SW/HW AGR: <%= timeentry.agr %></h4>
          <!-- <h4>
            Time From/To: <span style="color: red"><%= timeentry.time %></span>
          </h4> -->
          <h4>
            Total Time:
            <span style="color: red"><%= timeentry.totaltime %></span>
          </h4>
          <!-- <h4>
            Modem/Client: <span style="color: red"><%= timeentry.mco %></span>
          </h4> -->
          <h4>
            Description:
            <span style="color: red"><%= timeentry.description %></span>
          </h4>
          <h4>***********************************</h4>
        </div>
      </div>
      <% }) %>
    </div>
    <% include partials/footer %>
  </div>
</div>
