<% include partials/header %>

<main role="main">
 
  <div class="album py-5  bcolor " >
    <div class="printbutton printbuttons">
      <button class="btn btn-sm btn-outline-info" onclick="window.print();return false;">Print</button>
      <a href="javascript:history.back()" class="btn btn-sm btn-outline-danger">Go Back</a>
    </div>
    

            <% timeentries.forEach(function(timeentry){%> 
          <%var timeLink = timeentry.date.replace(/-/g, '_')%>
        <div class="col-md-12 print cardpad">
          <div class="card mb-4 shadow-sm fwabordercolor">
            <div class="card-body">
              <p class="card-text">Date: <span id="printing" style="color: red"><%= timeentry.date %></span></p>
              <p class="card-text">Account Name: <span id="printing" style="color: red"><%= timeentry.cust %></span></p>
              <p class="card-text">FTCN Code: <span id="printing" style="color: red"><%= timeentry.ftcn %></span></p>
              <p class="card-text">Bill Code: <span id="printing" style="color: red"><%= timeentry.billcode %></span></p>
              <!-- <p class="card-text">Job Number: <span id="printing" style="color: red"><%= timeentry.job %></span></p>
              <p class="card-text">SW/HW AGR: <span id="printing" style="color: red"><%= timeentry.agr %></span></p> -->
              <p class="card-text">Total Time: <span id="printing" style="color: red"><%= timeentry.totaltime %> Hour[s]</span></p>
              <p class="card-text">Description: <span id="printing" style="color: red"><%= timeentry.description %></span></p>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>

</main>
<% include partials/footer %>