<% include partials/header %>
<section class="jumbotron text-center jumboheight">

    <div class="container">
      
      <% if(error.length > 0) { %>
        <div id="alerting" class="alert alert-danger" role="alert">
          <strong><%= error %></strong> 
        </div>
        <% } %>
        <% console.log(regularMessage) %>
        <% if(regularMessage.length > 0) { %>
          <div id="alerting" class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong><%= regularMessage %></strong> 
          </div>
          <% } %>
      <div class="row">
          <div class="col-sm fwabordercolor">
            <h1>Profile Page</h1>
            <hr>
            <p class="lead text-muted">User information</p>
            <div class="row">
              <div class="col-md-4">
                <p>First Name:  </p>
                <p>Last Name: </p>
                <p>E-mail: </p>
                <p>Username: </p>
              </div>
            <div class="col-md-4">
              <form action="/home/profile?_method=PUT" method="POST">
                <input class="form-control" type="text" name="User[firstName]" value="<%= user.firstName %>" required>
                <input class="form-control" type="text" name="User[lastName]" value="<%= user.lastName %>" required>
                <input class="form-control" type="email" name="User[email]" value="<%= user.email %>" required>
                <input class="form-control" type="text" name="User[username]" value="<%= user.username %>" disabled>
                <p>
                  <div class="bothbuttons">
                    <button class="btn btn-sm btn-outline-info">Update</button>
                    <a href="/home" class="btn btn-sm btn-outline-danger">Go Back</a>
                  </div>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>




  <div class="container">
    <div class="row">
        <div class="col-sm fwabordercolor">
          <h1>Password Update</h1>
          <hr>
          <p class="lead text-muted">User information</p>
          <div class="row">
            <div class="col-md-4">
              <p>Old Password:  </p>
              <p>New Password:  </p>
              <p>Confirm Password: </p>
            </div>
            <div class="col-md-4">
              <form action="/home/updatepassword?_method=PUT" method="POST">
                <input type="password"  name="oldPassword" class="form-control" placeholder="Old Password" required>
                <input type="password" id="inputPassword" name="newPassword" class="form-control" placeholder="New Password" required>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="New Password" required>
                <p>
                  <div class="bothbuttons">
                    <button class="btn btn-sm btn-outline-info">Update</button>
                  </div>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section>
  
  <div class="page-header mainHeading">
    <p>Archived Dates</p>
  </div>
  <div class="album py-5  bcolor" >
    <div class="container">

      <div class="row">
        <% var timeDates = [];

    for(var i = 0; i < timeentries.length; i++) { 
        if(timeDates.includes(timeentries[i].date)){

        }else {
            timeDates[i] = timeentries[i].date;
        }
    } %>
    <% timeDates.forEach(function(timeDate){ 
        var dayHours = 0;
        for(var i = 0; i < timeentries.length; i++){
            if(timeDate == timeentries[i].date) {
                dayHours += timeentries[i].totaltime
            }
        }
        var dayMoney = dayHours * 34;
        var timeLink = timeDate.replace(/-/g, '_')%>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm fwabordercolor">
          <div class="card-body">
            <p class="card-text">Date: <%= timeDate %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/home/profile/<%= user.username %>/archived/<%= timeLink %>" class="btn btn-sm btn-outline-secondary">View</a>
                <form action="/home/unarchivedate/<%= timeLink %>?_method=PUT" method="POST" onclick="return confirm('Are you sure you want to unarchive all time entries for this date?');">
                  <button class="btn btn-sm btn-outline-secondary">Unarchive</button>
                </form>
                <a class="btn btn-sm btn-outline-danger" onclick="alert('Feature Coming Soon')">Delete</a>
                <a href="/home/dates/<%= timeLink%>/print" class="btn btn-sm btn-outline-secondary">Print</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="/js/register.js"></script>
<% include partials/footer %>