<% include ./partials/header %>
<%var timeLink = timeEntry.date.replace(/-/g, '_')%>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4>Date:         <%= timeEntry.date %></h4>
                    <h4>Account Name: <%= timeEntry.cust %></h4>
                    <h4>FTCN Code:    <%= timeEntry.ftcn %></h4>
                    <h4>Bill Code:    <%= timeEntry.billcode %></h4>
                    <h4>Job Number:   <%= timeEntry.job %></h4>
                    <h4>SW/HW AGR:    <%= timeEntry.agr %></h4>
                    <h4>Time From/To: <%= timeEntry.time %></h4>
                    <h4>Total Time:   <%= timeEntry.totaltime %></h4>
                    <h4>Modem/Client: <%= timeEntry.mco %></h4>
                    <h4>Description:  <%= timeEntry.description %></p>
                    <p><em>Submitted by <%= timeEntry.author.username %></p></em>
                    <% if(currentUser && timeEntry.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-xs btn-warning" href="/home/<%=timeLink%>/<%= timeEntry._id %>/edit">Edit</a>
                    <form class="delete-form" action="/home/<%=timeLink%>/<%= timeEntry._id %>?_method=DELETE" method="POST" onclick="return confirm('This will delete the Time Entry.');"> 
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                    <% } %>
                    <div>
                        <a class="btn btn-m" href="/home/">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<% include ./partials/footer %>